.community-matching-page {
    font-family: 'Inter', sans-serif;
    color: black;
    background-color: #d6fff2;
    text-align: center;
    padding: 50px;
    padding-top: 5px;
    height: 100vh; /* Set the height to cover the entire screen */
    box-sizing: border-box; /* Include padding in the height */
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 32px;
  }
  
  .community-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 60lh;
  }
  
  .community-circle {
    font-family: 'Inter', sans-serif;
    width: calc(33.33%/2 - 20px);
    padding-top: calc(33.33%/4 - 60px);
    padding-bottom: calc(33.33%/4 - 60px);
    line-height: 100px;
    text-align: center;
    background-color: #252A34;
    color: white;
    margin: 10px;
    font-size: 24px;
    border-radius: 50%;
  }

  .community-circle.selected {
    background-color: #FF2E63;
    color: white;
  }

  /* Apply alternate background colors to every other row */
.community-grid div:nth-child(1),
.community-grid div:nth-child(3),
.community-grid div:nth-child(5),
.community-grid div:nth-child(8),
.community-grid div:nth-child(10),
.community-grid div:nth-child(12),
.community-grid div:nth-child(13),
.community-grid div:nth-child(15),
.community-grid div:nth-child(17) {
  background-color: #636872;
}

/* Use a more specific selector to apply hover color to specific squares */
.community-grid div:nth-child(1):hover,
.community-grid div:nth-child(3):hover,
.community-grid div:nth-child(5):hover,
.community-grid div:nth-child(8):hover,
.community-grid div:nth-child(10):hover,
.community-grid div:nth-child(12):hover,
.community-grid div:nth-child(13):hover,
.community-grid div:nth-child(15):hover,
.community-grid div:nth-child(17):hover,
.community-circle:hover {
  background-color: #9b9fa7;
}

  .community-circle.clicked {
    background-color: red !important;
    color: #fff;
  }
  
  button {
    font-family: 'Inter', sans-serif;
    background-color: #F7F7ED;
    color: black;
    border: none;
    padding: 20px 40px; /* Increase the padding */
    cursor: pointer;
    margin-top: 20px;
    float: right;
    border-radius: 20px;
    font-size: 1.5em; /* Enlarge the font size */
  }
  
  button:hover {
    background-color: #A29EAD;
  }
  