.song-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .song-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .song-cover {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    margin-right: 1rem;
  }
  
  .song-details {
    display: flex;
    flex-direction: column;
  }
  
  .song-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  
  .song-artist {
    font-size: 1rem;
  }  