.container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  }
  
  .song-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .song-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .song-cover {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    margin-right: 1rem;
  }
  
  .song-details {
    display: flex;
    flex-direction: column;
  }
  
  .song-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  
  .song-artist {
    font-size: 1rem;
  }  

  .next-button {
    margin: 10px;
  }

  .reject-button {
    margin: 10px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
  }
  
  #close-modal {
    margin-top: 20px;
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #close-modal:hover {
    background-color: #bbb;
  }
  